In [1]:
a=5
print(type(a))

<class 'int'>

In [2]:
f=1.8
print(f)
print(type(f))

1.8
<class 'float'>

In [4]:
s="hello"
print(s)
print(type(s))

hello
<class 'str'>

In [5]:
b=True
print(b)
print(type(b))

True
<class 'bool'>

In [7]:
t=2+5j 
print(t)
print(type(t))

(2+5j)
<class 'complex'>

In [8]:
a=5
b=7
abadd = a+b
print(abadd)

12

In [10]:
a=4
b=2
absub=a-b
print(absub)

2

In [11]:
a=6
b=4
abmul=a*b
print(abmul)

24

In [12]:
a=36
b=4
abdiv=a/b
print(abdiv)

9.0

In [13]:
a=55
b=5
abiq=a//b
print(abiq)

11

In [15]:
a=60
b=7
abrem=a%b
print(abrem)

4

In [16]:
a=42
b=4
abp=a**b
print(abp)

3111696

In [18]:
t=True
f=False
print(t,f)

True False

In [19]:
p=5>3
print(p)

True

In [20]:
q=-1<=-33
print(q)

False

In [21]:
print(p and q)

False

In [22]:
print(p or q)

True

In [23]:
print(not q)

True

In [24]:
s='hello'
p="hello"
print(s,p)

hello hello

In [25]:
s1="python"
s2="world"
s3=s1+ ' '+s2
print(s3)

python world

In [26]:
s3="%s%s%d"%(s1,s2,1011)
print(s3)
print(len(s3))

pythonworld1011
15

In [27]:
print(s3.upper())

PYTHONWORLD1011

In [28]:
print(s3.capitalize())

Pythonworld1011

In [29]:
print(s3.lower())

pythonworld1011

In [30]:
print("hell0 world how are you".split(" "))

['hell0', 'world', 'how', 'are', 'you']

In [31]:
print('book'.replace('o','e'))

beek

In [34]:
word = 'jewellery'
print(word.find('well'))
print(word.find('y'))

2
8

In [47]:

number=int(input("enter a number"))
if number > 99 and number < 1000:
    print('3 digit')

else:

    print('Not 3 digit')

enter a number666
3 digit

In [1]:
res=input("Are you familiar with python")
if res.upper()=="yes":
    print("ypu can skipp") 
elif res.upper()=="no":
        print("comeon")
else:
    print("sorry")

Are you familiar with pythonyes
sorry

In [3]:
for x in range(10):
    print(x,end=' ')

0 1 2 3 4 5 6 7 8 9

In [8]:
limit = int(input('Enter a limit : ')) 
sum = 0

for i in range(1,limit + 1): 
    if i%2 !=0:
        sum += i
print("Odd sum = "+str(sum))

Enter a limit : 10
Odd sum = 25

In [12]:
number = int(input('Enter number : '))
s = 0
while number > 0 :
    s += number%10
    number = number//10
print(s)

Enter number : 1254
12

In [31]:
limit = int(input('Enter number : ')) 
for num in range(2,limit+1):
    is_divisible = False
k=2
while k <= num // 2 :
    if num % k == 0:
        is_divisible=True
        break;
k += 1
if not is_divisible:
    print(num,end=' ')

Enter number : 400

In [32]:
mylist = ['a','b', 1, 1.2, True]
print(mylist)

['a', 'b', 1, 1.2, True]

In [33]:
mylist.append('new')

print(mylist)

['a', 'b', 1, 1.2, True, 'new']

In [34]:
print(mylist.pop())

new

In [35]:
mylist.insert(2,'new')
print(mylist)

['a', 'b', 'new', 1, 1.2, True]

In [36]:
mylist.remove('new')

print(mylist)

['a', 'b', 1, 1.2, True]

In [37]:
b = [1,2,3]

mylist.append(b)
print(mylist)

['a', 'b', 1, 1.2, True, [1, 2, 3]]

In [38]:
mylist.remove(b)

print(mylist)

['a', 'b', 1, 1.2, True]

In [39]:
mylist.extend(b)

print(mylist)

['a', 'b', 1, 1.2, True, 1, 2, 3]

In [40]:
a = [2,3,1,4,5]

a.sort()

print(a)

[1, 2, 3, 4, 5]

In [41]:
print(list('hello'))

['h', 'e', 'l', 'l', 'o']

In [46]:
print(a[1],a[-1])

2 5

In [50]:
sliced = a[2:4]
print(sliced)

[3, 4]

In [53]:
sliced = a[2:]
print(sliced)

[3, 4, 5]

In [54]:
sliced = a[:4]
print(sliced)

[1, 2, 3, 4]

In [55]:
sliced = a[-2:]
print(sliced)

[4, 5]

In [56]:
numbers = list(range(1, 8))

print(numbers)

[1, 2, 3, 4, 5, 6, 7]

In [58]:
square = []

for i in numbers:

    square.append(pow(i,2))

print(square)

[1, 4, 9, 16, 25, 36, 49]

In [59]:
square = [x**2 for x in numbers]

print(square)

[1, 4, 9, 16, 25, 36, 49]

In [60]:
odd_square =[x**2 for x in numbers if x%2 != 0]

print(odd_square)

[1, 9, 25, 49]

In [61]:
A = [4,6,8,9]

AxA = [(a,b) for a in A for b in A if a!=b]

print(AxA)

[(4, 6), (4, 8), (4, 9), (6, 4), (6, 8), (6, 9), (8, 4), (8, 6), (8, 9), (9, 4), (9, 6), (9, 8)]

In [62]:
person = {'name' : 'Manu', 'age': 28}
print(person['name'])

Manu

In [63]:
print('name' in person)

True

In [64]:
print('sex' in person)

False

In [65]:
person['sex'] = 'male'

print(person)

{'name': 'Manu', 'age': 28, 'sex': 'male'}

In [67]:
for item in person:
    print(item,person[item])

name Manu
age 28
sex male

In [69]:
for (key,value) in person.items():

    print(key.capitalize(),'\t:\t', value)

Name 	:	 Manu
Age 	:	 28
Sex 	:	 male

In [70]:
t1 = (1,2,3)

t2 = 4,5,6

print(t1,t2)

(1, 2, 3) (4, 5, 6)

In [71]:
t3 = t1 +t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [75]:
lt = tuple(['a','b','c','d']) 
print(lt)

('a', 'b', 'c', 'd')

In [78]:
lt[2] = 'x'

TypeError: 'tuple' object does not support item assignment

In [79]:
s = {1,2,3}

print(s,type(s))

{1, 2, 3} <class 'set'>

In [80]:
fset = {"apple", "banana", "cherry"}
fset.remove("banana")

print(fset)

{'apple', 'cherry'}

In [81]:
fset = {"apple", "banana", "cherry"}
fset.discard("banana")

print(fset)

{'apple', 'cherry'}

In [82]:
fset = {"apple", "banana", "cherry"}
fset.clear()

print(fset)

set()

In [84]:
set1 = {"a", "b" , "c"} 
set2 ={1, 2, 3}

set3 = set1.union(set2)

print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [87]:
x = {"apple", "banana", "cherry"}

y = {"google", "microsoft", "apple"}

z = x.intersection(y)
print(z)

{'apple'}

In [88]:
lst = [1,2,3,4,5,5,5,7,6]

myset = list(set(lst))
print(myset)

[1, 2, 3, 4, 5, 6, 7]

In [90]:
def twice(number):
    return 2*number

t = twice(5)
print(t)

10

In [101]:
def isPrime(number):
    for factor in range(2, (number//2)+1):
        if number%factor == 0:
            return False
    return True

number = int(input('Enter the number '))
print(isPrime(number))

Enter the number 3
True

In [109]:
def printPrimes(llimit, ulimit):
    for num in range(llimit, ulimit + 1):
        if isPrime(num) == True:
            print(num, end = ' ')
printPrimes(5,50)

5 7 11 13 17 19 23 29 31 37 41 43 47

In [112]:
def swap(x,y):

    t = x

    x = y

    y = t

    return x,y

a=5
b=7

a,b = swap(a,b)
print(a,b)

7 5

In [125]:
class Adder:

    def init(self):

        self.x = 0

        self.y = 0
    def setValues(self, x, y):

        self. x = x

        self. y = y
    def calculate(self1):

        self1. sum = self1. x + self1. y
    def getSum(self): return
        self.sum
        adder =Adder()
        adder.setValues(5,4)
        adder.calculate()
print(adder.getSum())

IndentationError: unexpected indent (2192387421.py, line 17)